[submodule "tiles-recognition"]
	path = tiles-recognition
	url = https://github.com/braille-systems/tiles-recognition.git
[submodule "AngelinaReader"]
	path = AngelinaReader
	url = https://github.com/braille-systems/AngelinaReader.git
